:root {
  --default-color: #515151;
  --primary-color: #2957ab;
  --secondary-color: #cc64bd;
  --info-color: #6cbbe1;
  --success-color: #5b9e5b;
  --warning-color: #df9f45;
  --danger-color: #d75c58;
  --light-color: #ffffff;
  --light-gray-color: #f1f1f1;
  --gray-color: #d3d3d3;
  --dark-gray-color: #b5b5b5;
  --dark-color: #515151;
  --border-color: var(--gray-color, #d3d3d3);
}