@import "vars/all";

:root {
  --font-family: #{$font-family};
  --font-weight: #{$font-weight};
  --font-size: #{$font-size};
  --headline-font-size: #{$headline-font-size};
  --margin: #{$margin};
  --padding: #{$padding};
  --border-width: #{$border-width};
  --border-radius: #{$border-radius};
  --border-color: #{$border-color};
}