.block {
  --block-background-color: var(--light-color, white);
  --block-border-width: var(--border-width, 1px);
  --block-border-style: solid;
  --block-border-color: var(--border-color, #d3d3d3);
  --block-border-radius: var(--border-radius, 3px);
  --block-padding: var(--padding, 15px);
  --block-box-sizing: border-box;

  background-color: var(--block-background-color);
  padding: var(--block-padding);
  box-sizing: var(--block-box-sizing);
  border: {
    width: var(--block-border-width);
    style: var(--block-border-style);
    color: var(--block-border-color);
    radius: var(--block-border-radius);
  }
}