@import "../vars/all";

.block {
  background-color: $light-color;
  padding: var(--padding, #{$padding});
  box-sizing: border-box;
  border: {
    width: var(--border-width, #{$border-width});
    style: solid;
    color: var(--border-color, #{$border-color});
    radius: var(--border-radius, #{$border-radius});
  }
}