@import "../vars/all";

$grid-column-number: 12 !default;
$grid-gap: $margin !default;
$grid-screen-sizes: $screen-sizes !default;
$grid-horizontal-aligns: (
        start: start,
        center: center,
        end: end,
        stretch: stretch,
) !default;
$grid-vertical-aligns: (
        start: start,
        center: center,
        end: end,
        stretch: stretch,
) !default;

.grid {
  display: grid;

  &_gap {
    grid-gap: $grid-gap;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat($grid-column-number, percentage(1 / $grid-column-number));

    &_gap {
      grid-gap: $grid-gap;
      grid-template-columns: repeat($grid-column-number, calc(100% / #{$grid-column-number} - #{$grid-gap} + #{$grid-gap} / #{$grid-column-number}));
    }

    @each $key, $value in $grid-vertical-aligns {
      &_horizontal_#{$key} {
        justify-items: $value;
      }
    }

    @each $key, $value in $grid-vertical-aligns {
      &_vertical_#{$key} {
        align-items: $value;
      }
    }
  }

  &__col {
    grid-column-start: auto;

    @for $i from 1 through $grid-column-number {
      &_#{$i} {
        grid-column-end: span $i;
      }
    }

    @for $i from 2 through $grid-column-number {
      &_offset_#{$i - 1} {
        grid-column-start: $i;
      }
    }
  }

  @each $key, $value in $grid-screen-sizes {

    @media screen and (max-width: $value) {

      @for $i from 1 through $grid-column-number {
        &__col_#{$i}\@#{$key} {
          grid-column-end: span $i;
        }
      }

      @each $key2, $value2 in $grid-horizontal-aligns {
        &__row_horizontal_#{$key2}\@#{$key} {
          justify-items: $value2;
        }
      }

      @each $key2, $value2 in $grid-vertical-aligns {
        &__row_vertical_#{$key2}\@#{$key} {
          align-items: $value2;
        }
      }
    }
  }
}
